<p>L'utilisteur est :</p>
<div *ngIf="user">
    <table>
        <tr>
            <td>Title </td>
            <td>:</td>

            <td>{{user.sex}}</td>
        </tr>
        <tr>
            <td>Nom </td>
            <td>:</td>

            <td>{{user.nom}}</td>
        </tr>
        <tr>
            <td>Prenom </td>
            <td>:</td>
            <td>{{user.prenom}}</td>
        </tr>
        <tr>
            <td>Age </td>
            <td>:</td>

            <td>{{user.age}}</td>
        </tr>
        <tr>
            <td>Email </td>
            <td>:</td>

            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>Password </td>
            <td>:</td>

            <td>{{user.password}}</td>
        </tr>
    </table>

</div>