<nb-card>
    <nb-card-header>
        <p>Fournisseur est :</p>
    </nb-card-header>
    <nb-card-body>

        <div *ngIf="fournisseur">
            <table>
                <tr>
                    <td>Nom Fournisseur </td>
                    <td>:</td>
                    <td>{{fournisseur.nom}}</td>
                </tr>
                <tr>
                    <td>Date Fournisseur</td>
                    <td>:</td>
                    <td>{{fournisseur.dateF}}</td>
                </tr>
 
                <tr>
                    <td>Montant</td>
                    <td>:</td>
                    <td>{{ fournisseur.montant }}</td>
                </tr>
           
                <tr>
                    <td>Part</td>

                    <td>:</td>
                    <td>{{ fournisseur.part }}</td>
                </tr>
                <tr>

                    <td>Rbt/Src</td>
                    <td>:</td>
                    <td>{{ chanson.rbt_src }}</td>
                </tr> 
               
            </table>

        </div>
    </nb-card-body>
</nb-card>